<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
        <h2>This is our Add API Page!</h2>
        <form class="clearfix mb-4" method="POST" action="../add">
          <div class="form-group">
            <label for="api-text">API Name</label>
            <input type="text" id="api-text" class="form-control" aria-describedby="api-text" placeholder="Enter API Name">
          </div>
          <div class="form-group">
            <label for="api-description">API Description</label>
            <textarea class="form-control" id="api-description" aria-describedby="api-description" placeholder="Enter API Description"></textarea>
          </div>
          <div class="form-group">
            <label for="api-category">API category</label>
            <textarea class="form-control" id="api-category" aria-describedby="api-category" placeholder="Enter API category"></textarea>
          </div>
        <div class="form-group">
            <label for="api-URL">API Website URL</label>
            <textarea class="form-control" id="api-URL" aria-describedby="api-URL" placeholder="Enter API URL"></textarea>
        </div>
        <div class="form-group">
            <label for="api-Authentication">API Authentication</label>
            <textarea class="form-control" id="api-Authentication" aria-describedby="api-Authentication" placeholder="Enter API Authentication"></textarea>
        </div>
          <div class="form-group">
            <label for="api-OverallRating">API Overall Rating</label>
            <textarea class="form-control" id="api-OverallRating" aria-describedby="api-OverallRating" placeholder="Enter API OverallRating"></textarea>
        </div>

          <div class="form-group">
            <label for="api-Documentation">API Documentation Ratings</label>
            <textarea class="form-control" id="api-Documentation" aria-describedby="api-Documentation" placeholder="Enter API Ratings for Documentation"></textarea>
        </div>

          <div class="form-group">
            <label for="api-Easy">Ease to use API</label>
            <textarea class="form-control" id="api-Easy" aria-describedby="api-Easy" placeholder="Ease to use API Ratings  "></textarea>
        </div>
        <button id="submit" class="btn btn-primary float-right">Submit</button>
        </form>
         <a href="/">← Back To Home</a>
    </div>
  </div>
</div>
</div>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>