 <nav class="teal" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">API Catalog</a>
      <ul class="right hide-on-med-and-down">
        {{!-- <li><a href="/add">Add an API</a></li> --}}
        <li><a href="/"><i class="material-icons">home</i></a></li>
        {{!-- <li><a href="/rate">Rate an API</a></li> --}}
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>
<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1><center>Add your favorite API</center></h1>
        <hr>
        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="api-text">API NAME</label>
            <textarea class="form-control" id="api-text" aria-describedby="api-text" placeholder="Enter API Name"></textarea>
          </div>
          <div class="form-group">
            <label for="api-description">API DESCRIPTION</label>
            <textarea class="form-control" id="api-description" aria-describedby="api-description" placeholder="Enter API Description"></textarea>
          </div>
          <div class="form-group">
            <label for="api-category">API CATEGORY</label>
            <textarea class="form-control" id="api-category" aria-describedby="api-category" placeholder="Enter API Category"></textarea>
          </div>
        <div class="form-group">
            <label for="api-URL">API URL</label>
            <textarea class="form-control" id="api-URL" aria-describedby="api-URL" placeholder="Enter API URL"></textarea>
        </div>
        <div class="form-group">
            <label for="api-Authentication">API AUTHENTICATION</label>
            <textarea class="form-control" id="api-Authentication" aria-describedby="api-Authentication" placeholder="Enter API Authentication"></textarea>
        </div>
          <button id="submit" class="btn btn-primary float-right">Submit</button>
        </form>
        <h3><center>API List:</center></h3>
        <hr>
        <ul id="api-list" class="list-group">
          {{#each apis}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="apis/{{this.id}}">{{this.text}}</a>
            {{!-- <button class="btn btn-danger float-right delete">ｘ</button> --}}
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>
<footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l12 s12">
          <h5 class="white-text">Team Bio</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any input would help support and continue development on this project and is greatly appreciated.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text dev1">Sharvari Sangle</h5>
          <ul>
            <li><a class="white-text email" href="#!"></a></li>
            <li><a class="white-text github" href="#!"></a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text dev2">Jeremy King</h5>
          <ul>
            <li><a class="white-text email" href="#!">kingjeremy2211@hotmail.com</a></li>
            <li><a class="white-text github" href="https://github.com/kingjeremy2211"></a>kingjeremy2211</li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text dev3">Ravi Mangra</h5>
          <ul>
            <li><a class="white-text email" href="#!"></a></li>
            <li><a class="white-text github" href="#!"></a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text dev4">Nichole Tester</h5>
          <ul>
            <li><a class="white-text email" href="#!"></a>nicholeetester@gmail.com</li>
            <li><a class="white-text github" href="https://github.com/ntester24"></a>ntester24</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
