<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <h2>This is our Home Page!</h2>
        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="api-text">api Text</label>
            <input type="text" id="api-text" class="form-control" aria-describedby="api-text" placeholder="Enter api Text">
          </div>
          <div class="form-group">
            <label for="api-description">api Description</label>
            <textarea class="form-control" id="api-description" aria-describedby="api-description" placeholder="Enter api Description"></textarea>
          </div>
          <div class="form-group">
            <label for="api-category">api category</label>
            <textarea class="form-control" id="api-category" aria-describedby="api-category" placeholder="Enter api category"></textarea>
          </div>
        <div class="form-group">
            <label for="api-URL">api category</label>
            <textarea class="form-control" id="api-URL" aria-describedby="api-URL" placeholder="Enter api URL"></textarea>
        </div>
        <div class="form-group">
            <label for="api-Authentication">api category</label>
            <textarea class="form-control" id="api-Authentication" aria-describedby="api-Authentication" placeholder="Enter api Authentication"></textarea>
        </div>
          <button id="submit" class="btn btn-primary float-right">Submit</button>
        </form>
        <h3>apis:</h3>
        <ul id="api-list" class="list-group">
          {{#each apis}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="apis/{{this.id}}">{{this.text}}</a>
            {{!-- <button class="btn btn-danger float-right delete">ｘ</button> --}}
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
